<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <avanti_backtotop>
            <general>
                <enabled>1</enabled>
                <position>right</position>
                <color>#000000</color>
            </general>
        </avanti_backtotop>
    </default>
</config>