.plp-qty-stepper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    width: 100%;
    .lib-css(justify-content, center);
}

.plp-qty-stepper .qty {
    width: 70px;
    text-align: center;
}

.plp-qty-stepper .action {
    width: 34px;
    height: 34px;
    padding: 0;
    text-align: center;

}

.qty-plus,
.qty-minus {
    .lib-css(background-color, #fff);
    .lib-css(color, #827D7D);
    .lib-css(font-weight, bold);
}

.plp-configurable-message {
    margin: 8px 0;
}

input#qty {
    .lib-css(width, 46px);
    .lib-css(background-color, #F5F1F1);
    .lib-css(border, 1px solid #D5D0D0);
}

.label-qty{
    .lib-css(font-size, 14px);
    .lib-css(font-weight, bold);
    .lib-css(color, #000); 
}