<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\CatalogSearch\Block\Result">
        <plugin name="add_body_class_when_no_results" 
            type="Vendor\SearchCustomization\Plugin\AddClassOnNoResults"/>
    </type>

</config>
